<div id="<%= dom_id membership %>">
  <dl class="item-dl">
    <dt class="item-dt">Team</dt>
    <dd class="item-dd"><%= membership.team_id %></dd>

    <dt class="item-dt">User</dt>
    <dd class="item-dd"><%= membership.user_id %></dd>

    <dt class="item-dt">Role</dt>
    <dd class="item-dd"><%= membership.role %></dd>

    <dt class="item-dt">Preferences</dt>
    <dd class="item-dd"><%= membership.preferences %></dd>

  </dl>
</div>
