<div id="<%= dom_id exercise_participant %>">
  <dl class="item-dl">
    <dt class="item-dt">Exercise</dt>
    <dd class="item-dd"><%= exercise_participant.exercise_id %></dd>

    <dt class="item-dt">Name</dt>
    <dd class="item-dd"><%= exercise_participant.name %></dd>

    <dt class="item-dt">User</dt>
    <dd class="item-dd"><%= exercise_participant.user_id %></dd>

    <dt class="item-dt">Role</dt>
    <dd class="item-dd"><%= exercise_participant.role %></dd>

  </dl>
</div>
