<div id="<%= dom_id interaction %>">
  <dl class="item-dl">
    <dt class="item-dt">Team</dt>
    <dd class="item-dd"><%= interaction.team_id %></dd>

    <dt class="item-dt">Exercise</dt>
    <dd class="item-dd"><%= interaction.exercise_id %></dd>

    <dt class="item-dt">Exercise event</dt>
    <dd class="item-dd"><%= interaction.exercise_event_id %></dd>

    <dt class="item-dt">Interaction type</dt>
    <dd class="item-dd"><%= interaction.interaction_type %></dd>

    <dt class="item-dt">User</dt>
    <dd class="item-dd"><%= interaction.user_id %></dd>

    <dt class="item-dt">User input</dt>
    <dd class="item-dd"><%= interaction.user_input %></dd>

    <dt class="item-dt">Ai response</dt>
    <dd class="item-dd"><%= interaction.ai_response %></dd>

    <dt class="item-dt">Response confidence</dt>
    <dd class="item-dd"><%= interaction.response_confidence %></dd>

  </dl>
</div>
