<div id="flash">
  <% if flash.any? %>
    <div class="flash-messages mb-2">
      <% flash.each do |key, message| %>
        <% Rails.logger.debug "Flash: #{key} - #{message}" %>
        <% css_class = case key.to_sym
                       when :error then "alert-error"
                       when :notice then "alert-success"
                       when :alert then "alert-error"
                       when :info then "alert-info"
                       when :warning then "alert-warning"
                       when :success then "alert-success"
                       else "alert-success"
                       end %>
        <div role="alert" class="alert <%= css_class %> flex justify-between items-center p-4 mb-4 rounded-lg" id="flash-<%= key %>">
          <div class="flex items-center">
            <i class="icon <%= key.to_sym == :error ? 'icon-error' : 'icon-info' %> mr-2"></i>
            <span class="message-content"><%= message %></span>
          </div>
          <button type="button" class="dismiss-button ml-4" onclick="document.getElementById('flash-<%= key %>').remove();">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

