<div id="<%= dom_id predefined_scenario %>">
  <dl class="item-dl">
    <dt class="item-dt">Name</dt>
    <dd class="item-dd"><%= predefined_scenario.name %></dd>

    <dt class="item-dt">Description</dt>
    <dd class="item-dd"><%= predefined_scenario.description %></dd>

    <dt class="item-dt">Exercise type</dt>
    <dd class="item-dd"><%= predefined_scenario.exercise_type_id %></dd>

    <dt class="item-dt">Starting scenario event</dt>
    <dd class="item-dd"><%= predefined_scenario.starting_scenario_event_id %></dd>

  </dl>
</div>
