<div id="<%= dom_id predefined_event %>">
  <dl class="item-dl">
    <dt class="item-dt">Name</dt>
    <dd class="item-dd"><%= predefined_event.name %></dd>

    <dt class="item-dt">Description</dt>
    <dd class="item-dd"><%= predefined_event.description %></dd>

    <dt class="item-dt">Predefined scenario</dt>
    <dd class="item-dd"><%= predefined_event.predefined_scenario_id %></dd>

    <dt class="item-dt">Trigger conditions</dt>
    <dd class="item-dd"><%= predefined_event.trigger_conditions %></dd>

  </dl>
</div>
