<div id="<%= dom_id exercise_event %>">
  <dl class="item-dl">
    <dt class="item-dt">Team</dt>
    <dd class="item-dd"><%= exercise_event.team_id %></dd>

    <dt class="item-dt">Exercise</dt>
    <dd class="item-dd"><%= exercise_event.exercise_id %></dd>

    <dt class="item-dt">Predefined event</dt>
    <dd class="item-dd"><%= exercise_event.predefined_event_id %></dd>

    <dt class="item-dt">Custom event</dt>
    <dd class="item-dd"><%= exercise_event.custom_event_id %></dd>

    <dt class="item-dt">Triggered at</dt>
    <dd class="item-dd"><%= exercise_event.triggered_at %></dd>

    <dt class="item-dt">Status</dt>
    <dd class="item-dd"><%= exercise_event.status %></dd>

    <dt class="item-dt">Relative event time</dt>
    <dd class="item-dd"><%= exercise_event.relative_event_time %></dd>

  </dl>
</div>
