<div id="<%= dom_id exercise_objective_assignment %>">
  <dl class="item-dl">
    <dt class="item-dt">Team</dt>
    <dd class="item-dd"><%= exercise_objective_assignment.team_id %></dd>

    <dt class="item-dt">Exercise</dt>
    <dd class="item-dd"><%= exercise_objective_assignment.exercise_id %></dd>

    <dt class="item-dt">Exercise objective</dt>
    <dd class="item-dd"><%= exercise_objective_assignment.exercise_objective_id %></dd>

    <dt class="item-dt">Priority</dt>
    <dd class="item-dd"><%= exercise_objective_assignment.priority %></dd>

  </dl>
</div>
