<div id="<%= dom_id exercise %>">
  <dl class="item-dl">
    <dt class="item-dt">Name</dt>
    <dd class="item-dd"><%= exercise.name %></dd>

    <dt class="item-dt">Purpose</dt>
    <dd class="item-dd"><%= exercise.purpose %></dd>

    <dt class="item-dt">Status</dt>
    <dd class="item-dd"><%= exercise.status %></dd>

    <dt class="item-dt">Exercise type</dt>
    <dd class="item-dd"><%= exercise.exercise_type.name %></dd>

    <dt class="item-dt">Exercise date</dt>
    <dd class="item-dd"><%= exercise.exercise_date %></dd>

  </dl>
</div>
