<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body class="h-full">
<div class="h-full antialiased bg-gray-50 dark:bg-gray-900">
  <%= render "layouts/navbar" %>
  <%= render "layouts/sidebar" %>
  <main class="p-4 md:ml-64 h-auto pt-20 min-h-screen">
    <%= render "shared/flash" %>
    <%= yield %>
  </main>
</div>

</body>
</html>
